{# <form action="/annuaire/grues_a_tour">
  <div class="filter-by-loc-rep-mont">
    <input type="checkbox" id="location" name="location" value="location"  {{ content.location }}>
    <label for="location"> Location</label><br>
    <input type="checkbox" id="montage" name="montage" value="montage" {{ content.montage }}>
    <label for="montage"> Montage</label><br>
    <input type="checkbox" id="reparation" name="reparation" value="reparation" {{ content.reparation }}>
    <label for="reparation"> Réparation</label>
    <input type="submit" class=" button js-form-submit form-submit" value="Rechercher">
  </div>
</form> #}
